.header {
  margin-bottom: 60px;
}
header {
  background-size: cover;
  background-color: #202020;
  width: 100%;
  color: white;
  display: flex;
  margin-bottom: -20px;
  @media (max-width: 460px) {
    width: 120%;
  }
  @media (max-width: 420px) {
    width: 130%;
  }
}
.a > h1 {
  padding: 12px;
  transition: 200ms;
}
nav {
  display: flex;
  position: absolute;
  top: 3%;
  right: 4%;
}
p {
  margin-left: 8px;
  padding: 8px;
  cursor: pointer;
  margin-right: 8px;
}
.container {
  background-color: #14213d;
  background-position: top;
  width: 100%;

  background-size: cover;
  min-height: 10vh;
  max-height: 11vh;
  margin-top: -2.4vh;
  @media (max-width: 460px) {
    width: 120%;
  }
  @media (max-width: 420px) {
    width: 130%;
  }
}
.container > ul {
  padding-top: 16px;
  display: flex;
  margin-left: 8px;
  margin-right: 8px;
  @media (max-width: 768px) {
    margin-left: 0;
    margin-right: 0;
  }
}
li {
  list-style: none;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 0.8rem;
  cursor: pointer;
  @media (max-width: 768px) {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.a {
  text-decoration: none;
  color: white;
}
