.product_img {
  position: absolute;
  left: 0%;
}
.product_img > img {
  width: 30vw;
  margin-left: 1vw;
}

.product_details {
  position: absolute;
  left: 40%;
}
.product_details > h2 {
  font-size: calc(12px + 0.8vw);
  font-weight: 780;
}
.product_details > p {
  font-size: calc(9px + 0.9vw);
}
.purchase-btn {
  font-size: calc(14px + 0.9vw);
  width: 30vw;
  margin-top: 0.7vw;
  height: 3vw;
  margin-left: 1vw;
  @media (max-width: 880px) {
    height: 4vw;
  }
  @media (max-width: 630px) {
    height: 5vw;
  }
  @media (max-width: 490px) {
    height: 6vw;
  }
  @media (max-width: 380px) {
    height: 7vw;
  }
}
.product_details_des {
  margin-right: 5vw;
}
.product_details_des > p {
  font-size: calc(9px + 0.9vw);
  font-weight: 580;
}
.product_info {
  text-decoration: none;
  color: black;
}
