.images {
  min-width: 70%;
  max-width: 80%;
  @media (max-width: 768px) {
    min-width: 40%;
    max-width: 50%;
  }
}
h2 {
  margin-left: 22px;
}
.border {
  border: 0.9px solid #eee;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  @media (max-width: 768px) {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
.product {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  @media (max-width: 768px) {
    display: grid;
  }
}
button {
  width: 100%;
}
