.product-mobile > img {
  width: 100%;
  @media (max-width: 768px) {
    min-width: 40%;
    max-width: 50%;
  }
}
.bigger {
  margin-left: 80px;
  margin-right: 70px;
  @media (max-width: 768px) {
  }
}
.content-holder {
  display: flex;
  @media (max-width: 768px) {
    display: grid;
  }
}
.content-holder > h2 {
  flex: 40%;
  margin-left: 40px;
}
.content-holder > p {
  margin-top: 30vh;
}
.purchase {
  //   height: 0;
  margin-left: 20px;
  margin-right: 20px;
}
.purchase-btn {
  outline: none;
  font-size: calc(13px + 0.7vw);
  text-decoration: none;
  width: 60vw;
  height: 10vh;
  padding: 4px 4px 4px 4px;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid #ecc500;
  padding: 3px;
  font-weight: 999;
  background-color: #ffe66d;
}
h2 {
  font-size: calc(28px+9vw);
}
p {
}
